.popUpSucesso {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popUpInfo {
  background-color: #fff;
  color: #225c25;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

.popUpContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconSuccess {
  color: #225c25;
  font-size: 30px;
  flex-shrink: 0;
}

.popUp_p {
  font-size: 20px;
  margin: 0;
}