.background_tela_agendamento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-position: center;
  object-fit: cover;
  z-index: -1;
}

.botao_voltar_agendamento {
  display: flex;
  gap: 5px;
  text-decoration: none;
  align-items: center;
  background-color: #fff;
  height: 50px;
  padding: 30px 10px 0 30px;;
  border: none;
  cursor: pointer;
}

.icone_voltar_agendamento {
  width: 26px;
  height: 26px;
}

.botao_voltar_agendamento_p {
  font-size: 20px;
  color: #225c25;
  font-weight: 500;
}

.conteiner {
  border-radius: 20px;
  background-color: #225c25;
  color: #fff;
  text-align: center;
  display: flex;
  margin: 0 200px 0 200px;
  align-content: space-between;
}
.conteiner_01 {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
}
.conteiner_1 {
  display: flex;
  flex-direction: column;
}
.data {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftdiv,
.rightdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  text-align: left;
}

.textarea_observacao {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.buttons_agendamento {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao_agendamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  color: #0b561d;
}

.top-bar {
  z-index: 1;
  margin-left: 0;
}

.campo{
  display: flex;
  flex-direction: column;
}

.erro{
  color: red;
  font-size: 13px;
  margin-top: 2px;
}

.erro_input{
  border: 1px solid red;
}

.popUpFormulario{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.popUp {
  background-color: #fff;
  color: #225c25;
  width: 30%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}

.titulo{
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.h3{
  font-weight: 500;
}

.icone_sair_modal{
  display: flex;
  align-items: right;
  justify-content: right;
}

.botao_sair_modal {
  cursor: pointer;
  align-self: flex-start;
  font-size: 18px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input{
  padding: 10px 5px 10px 5px;
  border: 1px solid #64748b;
  width: 100%;
}

.label_modal{
  font-weight: 500;
}

.botao_formulario_div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.botao_formulario {
  display: flex;
  padding: 5px;
  height: 35px;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 5px;
  background-color: #225c25;
  color: #fff;
  border: 1px solid #225c25;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao_formulario:hover {
  background-color: #225c25;
  transform: translateY(-2px);
}