/* Começo da estilização para a barra de navgacao */
.nav_feed_info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.nav_feed_info .logo_feed {
  width: 140px;
  padding-left: 10px;
}

.nav_feed_info .pesquisar {
  position: relative;
  padding-left: 70px;
}

.pesquisar .campo_pesquisa {
  border-radius: 10px;
  padding: 3px 10px;
  border: 2px solid #225c25;
  font-size: 15px;
  justify-content: center;
  width: 300px;
  color: #225c25;
  font-weight: 500;
  outline: none;
}

.pesquisar .icone_pesquisar {
  position: absolute;
  left: 340px;
  top: 25%;
  pointer-events: none;
  font-size: 18px;
  color: #225c25;
}

.lista_feed .menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
  font-size: 22px;
  padding-right: 15px;
}

.menu .link_feed {
  text-decoration: none;
  color: #225c25;
  padding: 5px 7px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s ease;
}

.menu .link_feed:hover {
  background-color: #225c25;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.link_home::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\e1b0";
  font-size: 20px;
  margin-right: 3px;
}

.entrar::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f2f6";
  margin-right: 5px;
}

.doe_agora::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f06b";
  margin-right: 5px;
}

.meu_perfil::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f007";
  margin-right: 5px;
}

.meu_chat::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f086";
  margin-right: 5px;
}

.registro_pontos::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f093";
  margin-right: 5px;
}

.sair::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f2f5";
  margin-right: 5px;
}

.sistema_pontos::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f79c";
  margin-right: 5px;
}

.meu_historico::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f1da";
  margin-right: 5px;
}

.link_pontos_de_coleta::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f3c5";
  font-size: 20px;
  margin-right: 3px;
}

.link_usuario::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f2bd";
  font-size: 20px;
  margin-right: 3px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 120%;
  left: -15%;
  background-color: white;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 130%;
  z-index: 1000;
  white-space: nowrap;
}

.dropdown_menu {
  display: block;
}

.dropdown_menu li {
  padding: 8px;
  text-align: start;
}

.dropdown_menu li:hover {
  background-color: #f0f0f0;
}

.link_dropdown {
  text-decoration: none;
  color: #225c25;
  font-size: 18px;
}

.popUpSair {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.popUp {
  background-color: #fff;
  color: #225c25;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.botao_sair {
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;
}

.popUp_p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
}

.botaoPopUp {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.botoes {
  display: flex;
  padding: 10px;
  height: 35px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 5px;
  background-color: #225c25;
  color: #fff;
  border: 1px solid #225c25;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botoes:hover {
  background-color: #225c25;
  transform: translateY(-2px);
}

.icone_cancelar {
  font-size: 23px;
}

.icone_sucesso {
  width: 25px;
}

.links_popUp {
  text-decoration: none;
}
/* Fim da estilização para a barra de navegacao */

/* Começo da estilização do carrossel automatico */
.carrossel_container {
  width: 100%;
  max-width: 1500px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.carrossel_slide {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carrossel_slide > * {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
}

.slide_conteudo1 {
  display: flex;
  padding: 20px 30px;
  background-color: #225c25;
  color: #fff;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.img_carrossel {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.carrossel_titulo {
  display: flex;
  gap: 20px;
}

.carrossel_titulo .img_sustantavel_carrossel {
  width: 90px;
  height: 90px;
}

.titulo {
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  max-width: 450px;
}

.titulo .e_lixo {
  font-weight: bold;
}

.carrossel_p {
  font-size: 18px;
  max-width: 500px;
  text-align: center;
  line-height: 1.6;
}

.botoes_navegacao {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}

.botao_carrossel {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #225c25;
  cursor: pointer;
  transition: background 0.3s;
}

.botao_carrossel.ativo,
.botao_carrossel:hover {
  background-color: #225c25;
}
/* Fim da estilização do carrossel automatico */

/* Secão sobre as últimas novidades */
.carrossel_feed {
  padding: 70px 0;
  position: relative;
}

.titulo_feed {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #225c25;
  gap: 12px;
}

.titulo_feed::before,
.titulo_feed::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #225c25;
  border-radius: 2px;
}

.carrossel_container_externa {
  overflow: hidden;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

.carrossel_cards_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  transition: transform 0.5s ease;
}

.botao_carrossel_feed {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 00.9);
  color: #225c25;
  border: 2px solid #000;
  padding: 10px 12px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.botao_carrossel_feed:hover {
  opacity: 0.8;
  transform: translateY(-50%) scale(1.1);
}

.botao_esquerdo_carrossel {
  left: 10px;
}

.botao_direito_carrossel {
  right: 10px;
}

.secaofiltros {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;
}

.filtros_container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px 40px 10px 40px;
}

.filtro_item {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}

.label_filtro {
  margin-bottom: 5px;
  font-weight: 500;
  color: #225c25;
}

.filtro_categoria {
  padding: 10px 14px;
  border-radius: 20px;
  background-color: #fff;
  color: #225c25;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #225c25;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.filtros_ativos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 4px 0 20px 0;
}

.filtro_chip {
  display: inline-flex;
  align-items: center;
  background-color: #d7d3db;
  color: #225c25;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 8px;
  width: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

.filtro_span {
  font-size: 15px;
  margin-right: 8px;
}

.filtro_button {
  background: none;
  border: none;
  color: #225c25;
  cursor: pointer;
  font-size: 15px;
}

/* Seção sobre os próximos cards */
.secao_cards {
  padding: 40px 0;
}

.cards_secao_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 80px;
}

.titulo_secao_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #225c25;
  gap: 12px;
}

.titulo_secao_cards::before,
.titulo_secao_cards::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #225c25;
  border-radius: 2px;
}

.resumo_secao {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-left: 100px;
  margin-bottom: 20px;
  gap: 6px;
  color: #225c25;
  animation: aparecer 0.6s ease-out;
}

.resumo_secao i {
  font-size: 40px;
  color: #38b000;
}

.resumo_titulo {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.resumo_texto {
  font-size: 15px;
  color: #4a684a;
  line-height: 1.4;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Seção para os cards */
.card_feed_carrossel {
  flex: 0 0 auto;
  position: relative;
  background-color: #fff;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px 4px rgba(34, 92, 37, 0.4);
  transition: all 0.3s ease;
  margin: 10px;
}

.card {
  padding: 0 15px 10px 15px;
}

.card_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card_info span::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f3c5";
}

.tipo_card {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(34, 92, 37, 0.9);
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.card_info {
  color: #225c25;
  margin-bottom: 15px;
}

.titulo_card {
  font-size: 22px;
  margin: 0 0 8px 0;
}

.p_card {
  font-size: 14px;
  margin: 0 0 8px 0;
}

.span_card {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.card_meta {
  font-size: 12px;
  opacity: 1;
  margin-top: 8px;
}

.botao_card {
  background-color: #225c25;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 65%;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao_card:hover {
  background-color: #225c25;
  transform: translateY(-2px);
}

.link_card_feed {
  text-decoration: none;
}

/* Fim da seção dos cards */

.footer_feed {
  width: 100%;
  color: #fff;
  letters-spacing: 1px;
}

.footer_content {
  background-color: #225c25;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

.footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.footer_social_media .footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #fff;
  border-radius: 50%;
  transition: all 0.4s;
  text-decoration: none;
}

.footer_social_media .footer_link i {
  font-size: 1.25rem;
}

.footer_social_media .footer_link:hover {
  opacity: 0.8;
}

.instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

.facebook {
  background-color: #4267b3;
}

.whatsapp {
  background-color: #25d366;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer_list .footer_link {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}

.footer_list .footer_link:hover {
  color: #000;
  font-weight: 400;
}

.footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer_subscribe .p_subscribe {
  color: #fff;
}

.input_group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
}

.input_group .email {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  color: #225c25;
}

.input_group .botao_footer_feed {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 0px 1.5rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

.input_group .botao_footer_feed:hover {
  opacity: 0.8;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 200;
}
