body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.tela_historico_doacoes {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background_tela {
  position: absolute;
  top: 0;
  left: 0;
  width: 114%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.container_verde {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 40px 40px;
  margin: 80px auto 40px auto;
  width: 90%;
  max-width: 1100px;
  box-sizing: border-box;
  color: #225c25;
  text-align: center;box-shadow: 0 0 8px 4px rgba(34, 92, 37, 0.4); 
}

.link_voltar {
  display: flex;
  gap: 5px;
  text-decoration: none;
  padding-left: 5px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.icon_voltar {
  width: 26px;
  height: 26px;
}
.barra_voltar {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}
.nav_p {
  font-size: 20px;
  color: #225c25;
  font-weight: 500;
}
.titulo {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.subtitulo {
  font-size: 15px;
  color: #225C25;
  margin-bottom: 25px;
}

.tabela_container {
  overflow-x: auto;
  margin-top: 20px;
}

.tabela_doacoes {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px; 
}

.tabela_doacoes thead th {
    color: #000000;
  padding: 10px 12px;
  text-align: left;
  font-weight: 600;
  border: 2px solid #ccc;
}

.tabela_doacoes tbody tr {
  background-color: #ffffff;
}

.tabela_doacoes tbody td {
  background-color: #ffffff;
  padding: 10px 12px;
  font-size: 13px;
  color: #333;
  border: 1px solid #ccc;
}


.tabela_doacoes tbody td:first-child,
.tabela_doacoes tbody td:last-child {
  border-radius: 0;
}

.status_badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
}

.status_icon {
  width: 14px;
  height: 14px;
}

.concluida {
  background-color: #e4fbe4;
  color: #218838;border-radius: 10px
}

.pendente {
  background-color: #fff3cd;
  color: #c59b00;border-radius: 10px
}

.cancelada {
  background-color: #f8d7da;
  color: #c0392b;border-radius: 10px
}

.aguardando {
  background-color: #ffeeba;
  color: #c47f17;border-radius: 10px;
}
.botao_pendentes {
  margin-top: 25px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color:#225C25 ;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
  
}
a {
  text-decoration: none;
}
