body {
  color: white;
  text-align: center;
}
.background {
  z-index: -1;
  position: absolute;
  display: block;
}
#conteiner {
  border-radius: 20px;
  border: solid black;
  background-color: #225c25;
  display: flex;
  margin: 1% 20%;
  align-content: space-between;
}
#conteiner_01 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#conteiner_1 {
  display: flex;
  flex-direction: column;
}
#data {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#leftdiv,
#rightdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  text-align: left;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none !important;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  color: #0b561d;
  border: solid black;
}
input {
  border: solid black;
}
p {
  font-style: italic;
}
.top-bar {
  z-index: 1;
  margin-left: 0;
}
